<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Welcome {{ username }}</h1>
    <h2>End Date: {{ end_date }} </h2>
    
    <form method='POST'>
        <label for='comment'>Comment:</label>
        <input type="text" id='comment' name="comment"/>
        <label for='days'>Days +/-:</label>
        <input type="number" id='days' name="days"/>
        <button>Submit</button>
    </form>
    
    {% for comment in prob_comments %}
    <p>{{ comment }}</p>
    {% endfor %}
   <script type="text/javascript" src="">
       setTimout(function(){
           location, reload();
           }, 5000);
   </script> 
</body>
</html>